#title{
    background-color:#ffe75e;

}
.container-fluid{
    padding : 3% 15% 2%;
}
.navbar-brand{
    font-size:2.5rem;
    padding-left: 1rem;
}
.navbar{
    padding-left: 0;
}
.nav-item{
    padding:0 18px 0 18px;
    font-family: 'Playfair Display', serif;
    
}
.nav-link{
    font-size: 1.2rem;
}
h1{
    font-family: 'Abril Fatface', cursive;
    padding-left: 20px;
    padding-bottom: 2px;
    font-size: 5rem;
    line-height: 1.5;
    color: black;
}
h2{
    font-family: 'Abril Fatface', cursive;
    padding-left: 20px;
    padding-bottom: 2px;
    font-size:4rem;
    line-height: 1.5;
    color: black;
    text-align: center;
}
.title-heading{
    padding-bottom: 60px;
}
.coffee-img{
    height: 100px;
}
label{
    padding-top: 8px;
}
#content{
    background-color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:black;
    padding-top:30px;
    padding-bottom:30px;
}
.img{
    padding-top: 30px;
    padding-bottom: 30px;
}
.img-1{
    height: 400px;
}
.img-2{
    height: 400px;
}
.title-img{
    height: 400px;
}
.sub-img{
    width: 280px;
}
.title-img-adjust{
    padding:0px 70px 0px 210px;
}
@media (max-width:768px){
    #title{
        text-align: center;
    }
    .title-img{
        visibility: hidden;
    }
    .title-img-adjust{
        height: 0px;
    }
    label{
        visibility: hidden;
    }
    .img-2{
        margin: 3.75%;
        height: 25%;
        width: 15.62%;
    }
    .coffee-img{
        visibility: hidden;
    }
}
 @media (max-width:1024px){
    /* label{
        visibility: hidden;
    } */
    .img-2{
        padding-right:2.18%;
        padding-left:2.18%;
        width: 220px;
        height: 250px;
    }
    
 }
 .kaju{
     padding-right: 0px;
 }
#footer{
    background-color: #ffe75e;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: medium;
}
#footer .container-fluid{
    padding : 3% 15% 3%;
    color: black;
}
p{
    margin: 0px;
}
.home-link{
    text-align: center;
    padding-top: 30px;
    font-family: 'Playfair Display', serif;
    font-size: medium;
}
/* font-family: 'Playfair Display', serif; */

/* font-family: 'Abril Fatface', cursive; */